.navbar_list{
    list-style:none;
    background-color:peachpuff;
    display:flex;
    justify-content: flex-end;
    list-style:none;
    width:100%;
    border: 1px solid #EB455F ;

    
}
.navbar_item {
    align-self:flex-end;
    

}

.navbar_link {
    all:unset;
    color:#EB455F;
    font-family:'Space Mono', monospace;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:1rem;
    margin:0;
}
.navbar_icon {
    width:3rem;
}
.navbar_item:hover{
    cursor:pointer;
    transition: 200ms ease;
    background-color:#fff;
   

}
